{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">


        <h2>
            {{ book.title }} -
            {% if book.available %}
            Available
            {% else %}
            Not Ready
            {%endif%}
        </h2>
        {% if book.img == "" %} 
        <p><img src="https://islandpress.org/sites/default/files/default_book_cover_2015.jpg"></p> 
        {%else%} 
        <p><img src = "{{book.img}}"></p> 
        {%endif%} 
        <h3>Author: {{ book.author }}</h3>
        <h6>Description: {{ book.description }}</h6> 
    <form action="/books/{{book.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Book</legend>
            <!-- <label class = "form-label"> Search: </label>
             <input type="text" placeholder="Search.." name="search" class="form-control">-->
            <!-- <label class="form-label">Title: </label> 
            <input 
                style = "display: none;"
                type="text" 
                name="img" 
                placeholder="enter book title"
                class="form-control"
                value= "{{book.img}}"
            >
            <input 
            style = "display: none;"
            type="text" 
            name="isbn" 
            placeholder="enter book title"
            class="form-control"
            value= "{{book.isbn}}"
        >
            <input 
                type="text" 
                name="title" 
                placeholder="enter book title"
                class="form-control"
                value="{{book.title}}"
            >
            <label class="form-label">Author:</label>
            <input 
                type="text" 
                name="author" 
                placeholder="enter author" 
                class="form-control"
                value="{{book.author}}"
                
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                class="form-control"
                value="{{book.description}}"
            >
            <label class="form-label">Available:</label>
            <input 
                type="checkbox" 
                name="available" 
                class="form-check-input"
            > -->
        </fieldset>
        <input type="submit" value="Checkout Book" class="btn btn-success">
    </form>
</div>
{% endblock %}