{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books/{{book.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Book</legend>
            <!-- <label class = "form-label"> Search: </label>
             <input type="text" placeholder="Search.." name="search" class="form-control">-->
            <label class="form-label">Title: </label> 
            <input 
                style = "display: none;"
                type="text" 
                name="img" 
                placeholder="enter book title"
                class="form-control"
                value= "{{book.img}}"
            >
            <input 
            style = "display: none;"
            type="text" 
            name="isbn" 
            placeholder="enter book title"
            class="form-control"
            value= "{{book.isbn}}"
        >
            <input 
                type="text" 
                name="title" 
                placeholder="enter book title"
                class="form-control"
                value="{{book.title}}"
            >
            <label class="form-label">Author:</label>
            <input 
                type="text" 
                name="author" 
                placeholder="enter author" 
                class="form-control"
                value="{{book.author}}"
                
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                class="form-control"
                value="{{book.description}}"
            >
            <label class="form-label">Available:</label>
            <input 
                type="checkbox" 
                name="available" 
                class="form-check-input"
            >
        </fieldset>
        <input type="submit" value="Edit Book" class="btn btn-success">
    </form>
</div>
{% endblock %}