{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Books</h2>
    <div class="row">
        {% for book in books %}
        <!-- {% if book.available %} -->
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ book.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                        Available
                </h5>
                <p class="card-text">
                    Body: {{ book.description }}
                </p>
                <p class="card-text">
                    Amount: {{ book.author }}
                </p>
                <a href="/books/{{ book.id }}" class="btn btn-info">
                    View {{ book.title }}
                </a>
                <!-- {% endif %} -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}