{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books/search" method="POST">
        <fieldset>
            <legend>Find New Book</legend>
            <label class = "form-label"> Search: </label>
             <input type="text" placeholder="Search.." name="search" class="form-control">
        </fieldset>
        <!-- <input type="submit" value="Create New book" class="btn btn-success"> -->
    </form>
    
    {% for book in books %}
    
   <p><img src = "{{book.volumeInfo.imageLinks.thumbnail}}"></p> 
   <p>Title: {{book.volumeInfo.title}}</p> 
   <p>Author: {{book.volumeInfo.authors}}</p> 
   <p>Description: {{book.volumeInfo.description}}</p> 
   <p>ID:   <a href="/books/new/{{ book.id }} " class="btn btn-info">
    View {{ book.volume.title }}
</a> </p>

   {% endfor %}
  
  


</div>
{% endblock %}